<ul class="list-group mt-3">
    <li class="list-group-item text-muted"> <span i18n = "@@actividadReciente">Actividad reciente</span> <i class="fa fa-dashboard fa-1x"></i></li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Balance</strong></span> ${{recentActivity.balance}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Meta</strong></span> ${{recentActivity.meta}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Salario</strong></span>${{recentActivity.salario}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Limite Gasto</strong></span>${{recentActivity.limiteGasto}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Familia</strong></span> {{recentActivity.familia}}</li>
  </ul> 