<ul class="list-group mt-3">
    <li class="list-group-item text-muted"> <span i18n = "@@actividadReciente">Detalles  </span> <i class="fa fa-dashboard fa-1x"></i></li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Balance</strong></span> ${{balance}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Meta</strong></span> ${{meta}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Salario</strong></span>${{salario}}</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Limite Gasto</strong></span>${{limiteGasto}}</li>
  </ul> 