<footer class="page-footer font-small footer">

    <div class="footerbar2 my-2"> 
      <span> &nbsp;</span>
    </div>
  
    <span class="languages">
      <a href="#">Español</a>
      <a>|</a>
      <a href="#">Ingl&eacute;s</a>
    </span>
    
    <div class="container ">
  
      <div class="row">
  
        <!-- Columna de "About us" -->
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footerTitle">Sobre nosotros</h5>
          <p class="pFooter">
              Nosotros somos un grupo de estudiantes que busca ayudar a las personas a administrar su presupuesto usando nuestra p&aacute;gina
          </p>
          
        </div>
  
        <hr class="clearfix w-100 d-lg-none">
        <hr class="verticalHr d-md-none d-sm-none d-xs-none">
  
        <!-- Columna de "Contact" -->
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footerTitle">Contacto</h5>
  
          <!-- Fila para los tres integrantes del equipo de-->
          <div class="row">
  
            <!--Cami-->
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
  
              <p class="font-weight-bold pFooter">Camila Rovirosa: </p>
              <p class="pFooter" >E-mail: A01024192@itesm.mx</p>
              <p class="pFooter">Tel&eacute;fono: +52 5545316168</p>
  
            </div>
  
            <!--Beto-->
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
  
                <p class="font-weight-bold pFooter">Alberto Pascal: </p>
                <p class="pFooter">E-mail: A01023607@itesm.mx</p>
                <p class="pFooter">Tel&eacute;fono: +52 5611101018</p>
  
            </div>
  
            <!--Moi-->
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
  
                <p class="font-weight-bold pFooter">Moisés Torres: </p>
                <p class="pFooter">E-mail: A01021323@itesm.mx</p>
                <p class="pFooter">Tel&eacute;fono: +52 5523239661</p>
  
            </div>
          </div>
  
          <hr class="clearfix w-100 d-md-none">
  
        </div>
        
      </div>
  
    </div>
  
        <br>
  
        <div class="footer-copyright text-center py-3 footerbar"> 
          <a href="../index.html" class="navbar-brand footerTitle">All-Mighty Budget</a>
          <br>
          <p class="pFooter">© 2020 Copyright</p>
        </div>
  
  
  </footer>
  