<div [@dialog] class="alert-box">
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sign Up</h4>
        <form [formGroup] = "signup" (ngSubmit)="onSignUp()">
            <input type="text" formControlName="username" class="form-control" placeholder="Usuario"/>
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"/>
            <input type="password" formControlName="password_conf" class="form-control" placeholder="Confirmar contraseña"/>
            <input type="email" formControlName="email" class="form-control" placeholder="E-mail"/>
            <input class="btn signup" type="submit" value="Registrate ahora!" />
        </form> 
    </div>
</div>
