<div [@dialog] class="alert-box text-center">
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sign Up</h4>
        <form [formGroup] = "signup" >
            <input class = "form-control" type="text" placeholder="Nombre" formControlName="name" />
            <input class = "form-control" type="text" placeholder="Apellido" formControlName="lastName" />
            <input class="form-control" type="email" placeholder="email@ejemplo.com" formControlName="email" />
            <input class="form-control" type="text" placeholder="Ocupación" formControlName="job"/>
            <input type="text" formControlName="username" class="form-control" placeholder="Usuario"/>
            <form formGroupName="pass">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"/>
                <input type="password" formControlName="ConfirmPass" class="form-control" placeholder="Confirmar contraseña"/>
            </form>
            <input type="email" formControlName="email" class="form-control" placeholder="E-mail"/>
            <button class="btn signup mx-auto" type="submit" (click)="onSignUp()" i18n>Registrate ahora!</button>
        </form> 
    </div>
</div>
