<form >
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="Nombre" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="Apellido" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-9">
            <input class="form-control" type="email" placeholder="email@ejemplo.com" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Ocupacion</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Username</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="Username" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
        <div class="col-lg-9">
            <input class="form-control" type="password" placeholder="Contraseña" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Confirmar Contraseña</label>
        <div class="col-lg-9">
            <input class="form-control" type="password" placeholder="Contraseña" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-9 ml-auto text-right">
            <input type="reset" class="btn btn-outline-secondary" placeholder="Cancel " onclick="showSnackbar()"/>
            <input type="button" class="btn btn-primary" placeholder="Save Changes" onclick="showSnackbar()"/>
        </div>
    </div>
</form>
