<div class="container">
    <div class="bg-white mt-3 p-5 rounded shadow">
      <h1>Validaciones: </h1>
      <div>
          <h2> HTML</h2>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <app-validacion-block></app-validacion-block>
          <div class="bg-white mt-3 p-5 rounded shadow">
              <h3>100%</h3>
          </div>
      </div>
    </div>
    <div class="bg-white mt-3 p-5 rounded shadow">
        <h2> SCSS</h2>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <app-validaciones-css></app-validaciones-css>
        <div class="bg-white mt-3 p-5 rounded shadow">                   
            <h3>100%</h3>
        </div>
    </div>
</div>