<div class="container">
    <div class="classRow my-2">
        <div class="colProfilePic2 text-center">

            <app-profile-pic></app-profile-pic>

        </div>

        <div class="colTabs">

            <app-profile-tabs></app-profile-tabs>

            <div class="tab-content py-4">
                <div class="tab-pane active" id="savings">
                    
                    <div class="container">

                        <p class="title" i18n>Objetivo</p>

                        <!--Primera fila-->
                        <div class="classRow">

                            <div class="colGoal">
                                
                                <app-ahorros-obj></app-ahorros-obj>
                                <br>
                            </div>
                            <div class = "colForms">
                                <app-ahorros-savings></app-ahorros-savings>
                                <br>
                            </div>
                            <div class = "colForms">
                                <app-ahorros-presupuesto></app-ahorros-presupuesto>
                                <br>
                            </div>
                           
                        </div>

                        <br>
                        <br>

                        
                        <app-ahorros-doughnutchart></app-ahorros-doughnutchart>
                        

                    </div>


                </div>

            </div>
        </div>
    </div>
</div> 
