<ul class="nav nav-tabs mt-2" *ngIf="router.url === '/profile/user' || router.url === '/profile/admin'">
    <li class="nav-item">
        <a href="profile/user" class="nav-link estilo-link active" i18n>Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/edit-user" class="nav-link estilo-link" i18n>Editar Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/savings" class="nav-link estilo-link" i18n>Ahorros</a>
    </li>
</ul>

<ul class="nav nav-tabs mt-2" *ngIf="router.url === '/profile/edit-user' || router.url === '/profile/edit-admin'">
    <li class="nav-item">
        <a href="profile/user" class="nav-link estilo-link" i18n>Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/edit-user" class="nav-link estilo-link active" i18n>Editar Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/savings" class="nav-link estilo-link" i18n>Ahorros</a>
    </li>
</ul>

<ul class="nav nav-tabs mt-2" *ngIf="router.url === '/profile/savings'">
    <li class="nav-item">
        <a href="profile/user" class="nav-link estilo-link" i18n>Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/edit-user" class="nav-link estilo-link" i18n>Editar Perfil</a>
    </li>
    <li class="nav-item">
        <a href="profile/savings" class="nav-link estilo-link active" i18n>Ahorros</a>
    </li>
</ul>