<ul class="list-group mt-3">
    <li class="list-group-item text-muted">Actividad reciente <i class="fa fa-dashboard fa-1x"></i></li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Balance</strong></span> $1500</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Meta</strong></span> $10,000</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Salario</strong></span>$200</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Limite Gasto</strong></span>$500</li>
    <li class="list-group-item text-right"><span class="pull-left" i18n><strong>Familia</strong></span> Fam</li>
  </ul> 