<p class="title">Tabla de presupuesto</p>
<br>

<!--Segunda fila-->
<div class="row">
    
    <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table">
            <thead class="black white-text">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Esperado</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Diferencia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" class="tableTitle">Fuentes de ingreso</td>
                </tr>
                <tr>
                    <td class="tableCell">Ingresos</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td colspan="4" class="tableTitle">Gastos de casa</td>
                </tr>
                <tr>
                    <td class="tableCell">Renta</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Electricidad</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Gas</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Internet + cable</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Agua</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td colspan="4" class="tableTitle">Otros gastos mensuales</td>
                </tr>
                <tr>
                    <td class="tableCell">Comida</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Celular/Tel&eacute;fono</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Ropa/Cosm&eacute;ticos</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
                <tr>
                    <td class="tableCell">Entretenimiento</td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                    <td class="tableCell"><input type="text" class="inputTable" /></td>
                </tr>
            </tbody>
        </table>

        <br>

        <h5>Balance: $1000 a favor</h5>
    </div>
    
</div>