<div class="panel-body">
    <table id="example" style = "text-align:center;" class="justify-content-center table table-striped dt-responsive table table-hover table-light" style="width:100%">
        <thead style = "text-align:center;">
            <tr>
                <th scope="col" i18n="@@dinero">Monto</th>
                <th scope="col" i18n="@@TipoT">Tipo de Transacci&oacute;n </th>
                <th scope="col" i18n="@@Mot">Motivo</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let trans of transInfo" style = "text-align: center;">
                <td>$ {{trans.monto}}</td>
                  <td>{{trans.tipo}}</td>
                  <td>{{trans.comentario}}</td>                                           
            </tr>
            
        </tbody>
    </table>
    
    <!--pagination-controls id="member_pag" (pageChange)="pageChanged($event)"></pagination-controls-->
</div>