<div class="container">
    <div class="row my-2">
        <div class="col-sm-12 col-lg-4 col-md-4 order-lg-1 order-md-2 text-center">

            <app-profile-pic></app-profile-pic>

            <h6 class="mt-3">User</h6>
            
            <app-profile-recent-activity></app-profile-recent-activity>

        </div>

        <div class="col-sm-12 col-lg-8 col-md-8 order-md-2 order-lg-2">
            
            <app-profile-tabs></app-profile-tabs>
            
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                  <h5 class="mb-3">Meta Actual</h5>

                  <app-profile-progressbar></app-profile-progressbar>

                </div>
            </div> 

            <div class="row">                          
                <div class="col-md-12">
                    <hr>
                    <h5 class="mt-2"><span class="fa fa-bookmark float-right"></span> Wish List</h5>
                    
                    <app-profile-wishlisht></app-profile-wishlisht>

                </div>
            </div>
                    
        </div>
    </div>
</div>