
<div class="buscar2">
    <h4 i18n> Agregar miembro</h4>
    <form [formGroup] = "MemberEmail">
        <div class="colFormControl2">
            <input class = "form-control" type="email" placeholder="Mail" formControlName="email" />
        </div>
    </form>
    <span *ngIf="MemberEmail.hasError('email', 'email') && MemberEmail.get('email').touched">
        Please enter the correct email, this email not valid.
    </span>
    <button id="button-addon1" [disabled]="MemberEmail.invalid" type="submit"  (click) = "addMember()" class="btn rounded-pill btn-link text-primary bg-light"><i class="fa fa-search"></i></button>
</div>
<hr>
