
@mixin set-font-size($font-size, $font-style, $text-align){
    font-size: $font-size;
    font-style: $font-style;
    text-align: $text-align;
}


.colProfilePic{
    @extend .col-sm-12;
    @extend .col-lg-4 ;
    @extend .col-md-4 ;
    @extend .order-lg-1 ;
    @extend .order-md-2;
}
.colProfilePic2{
    @extend .col-lg-4;
    @extend .order-lg-1;
  }

.colTabs{
    @extend .col-sm-12;
    @extend .col-lg-8 ;
    @extend .col-md-8 ;
    @extend .order-md-2 ;
    @extend .order-lg-2;
}

.classRow{
    @extend .row;
}

.colGoal{
    @extend .col-sm-12;
    @extend .col-lg-12 ;
    @extend .col-md-12 ;
    @extend .col-12;
}

.colForms{
    @extend .col-sm-12;
    @extend .col-lg-12;
    @extend .col-md-12 ;
    @extend .col-12;
}

.colPresupuesto{
    @extend .col-12;
    @extend .col-form-label;
}

.colAhorros{
    @extend .mt-3 ;
    @extend .p-5 ;
    @extend .order-lg-2;
}

.title{
    @include set-font-size($title-font-size, $title-font-style, $title-text-align);
    margin: $title-margin;
}

@mixin set-auto-margin(){
    margin:auto;
}

.price{
    @include set-font-size($price-font-size, $price-font-style, $price-text-align);
    @include set-auto-margin();
}

.btn-primary{
    border-radius: $btn-border-radius;
    color: $btn-text-color; 
    padding: $btn-padding; 
    @include set-font-size($btn-font-size, $price-font-style, $price-text-align);
    cursor: pointer; 
}

div.polaroid {
    @include set-auto-margin();
    
    display: inline-block;
    background-color: $polaroid-background-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: $polaroid-margin-bottom;
}

div.container{
    text-align: center;
    padding: $polaroid-container-padding;
}

.polaroidImage{
    width: $polaroid-image-width;
}

.tableTitle{
    @include set-font-size($table-subheader-font-style, $title-font-style, $table-subheader-text-align);
    font-size: $table-subheader-font-size;
    background-color:$table-subheader-background-color;
}

@mixin default-background-color(){
    background-color:$table-cell-background-color;
}

.tableCell{
    @include default-background-color();
}

th, td, tr {
    color: $table-text-color;
    border: $table-border;
}

th{
    background-color:$table-header-background-color;
    
}

.inputTable{
    @include default-background-color();
    border: solid $table-cell-background-color 1px;
    width: 100%;
}
