<div class="bg-white rounded" > 
    <div class="bg-white p-5 rounded h1-title"> 
      <h1>Artículos Populares</h1>
    </div>
    <div class="container text-center my-3">
      <div class="row mx-auto my-auto" id = "popular">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-5 col-xl-5 offset-auto mx-auto">
                          <img class="img-fluid rounded  d-block w-100 imgCarousel pBlack" src="/assets/images/recomendation1.png" alt="Segundo caso de uso">
                        </div>
                    </div>
                </div>
                <div class="carousel-item py-5">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-5 col-xl-5 offset-auto mx-auto">
                        <img class="img-fluid rounded  d-block w-100 imgCarousel pBlack" src="/assets/images/recomendation2.png" alt="Segundo caso de uso">
                      </div>
                  </div>
                </div>
                <div class="carousel-item py-5">
                  <div class="row">
                      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-5 col-xl-5 offset-auto mx-auto">
                        <img class="img-fluid rounded  d-block w-100 imgCarousel pBlack" src="/assets/images/recomendation3.png" alt="Segundo caso de uso">
                      </div>
                  </div>
                </div>
            </div>
            <a class="carousel-control-prev text-dark carousel-inner" href="#myCarousel" role="button" data-slide="prev">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-dark carousel-inner" href="#myCarousel" role="button" data-slide="next">
              <span class="fa fa-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
      
  </div>
</div>