

<br>
<app-searchbar></app-searchbar>
<br>
<br>

<div class ="h1-title container">
    <H1 class = "Title" i18n *ngIf = "isSearched">Productos encontrados</H1>
    <H1 class = "Title" i18n *ngIf = "!isSearched">Busca algún producto</H1>
</div>
<br>

<app-product-card *ngFor="let producto of productos | paginate: config" [curr_prod]=producto></app-product-card>
<pagination-controls id="product_pag" (pageChange)="pageChanged($event)"></pagination-controls>
<hr>

<br>

<app-spinner *ngIf = "loading"></app-spinner>

<br>
<br>
<br>
<br>
<br>


