<form [formGroup] = "editprofileForm">

        <label class="colFormControl form-control-label" i18n>Nombre</label>
        <div class="colFormControl2">
            <div class="error" style="color: red;" *ngIf="editprofileForm.get('name').hasError('required') && editprofileForm.get('name').touched">
                Nombre requerido
            </div>
            <input class = "form-control" type="text" placeholder="Nombre" formControlName="name" />
        </div>

        <label class="colFormControl form-control-label" i18n>Apellido</label>
        <div class="colFormControl2">
            <div class="error" style="color: red;" *ngIf="editprofileForm.get('lastName').hasError('required') && editprofileForm.get('lastName').touched">
                Apellido requerido
            </div>
            <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName" />
        </div>

        <label class="colFormControl form-control-label" i18n>Email</label>
        <div class="colFormControl2">
            <div class="error" style="color: red;" *ngIf="editprofileForm.get('email').hasError('required') && editprofileForm.get('email').touched">
                Email requerido
            </div>
            <input class="form-control" type="email" placeholder="email@ejemplo.com" formControlName="email" />
        </div>

        <label class="colFormControl form-control-label" i18n>Ocupacion</label>
        <div class="colFormControl2">
            <input class="form-control" type="text" placeholder="Ocupación" formControlName="job"/>
        </div>

        <label class="colFormControl form-control-label" i18n="@@Salario">Salario</label>
        <div class="colFormControl2">
            <input class="form-control" type="number" min = 0 placeholder="Salario" formControlName="salario"/>
        </div>

        <label class="colFormControl form-control-label" i18n>Username</label>
  
        <div class="colFormControl2">
            <div class="error" style="color: red;" *ngIf="editprofileForm.get('username').hasError('required') && editprofileForm.get('username').touched">
                Nombre de usuario requerido
            </div>
            <input class="form-control" type="text" placeholder="Username" formControlName="username"/>
        </div>    
        <div class="align-center mr-3 mt-3 colInputs">
            <button type="submit"  class="mr-1 btn btn-primary" [disabled]="editprofileForm.invalid" (click)="onSave()" mat-button (click)="openSnackBar('Cambios guardados exitosamente!', 'Ok')" i18n>Guardar cambios</button> 
            <button type="submit"  class="mx-auto btn btn-primary"  (click)="onCancel()" i18n>Cancelar</button>
            
            <!--falta agregar los snackbar a los buttons-->
        </div>
</form>

