<table class="table table-hover table-striped estilowish">
    <tbody>                      
        <tr *ngFor="let product of wishlistProducts">
            <td>
                <div class="row">
                    
                    <div class="col-md-11 col-lg-11 col-xl-11 col-sm-12">
                        <!--Titulo del producto-->
                        {{product.titulo}}
                        <br>
                        <!--Precio del producto-->
                        <span class="font-weight-bold price">$ {{product.precio}}</span>
                        <br>
                        <!--Botón para convertir en meta actual-->
                        <button type="button" class="btn-meta">Convertir a meta actual</button>
                    </div>

                    <br>
                    
                    <!--Botón para eliminar de wishlist-->
                    <div class="col-md-1 col-lg-1 col-xl-1 col-sm-12">
                        <button type="button" class="btn btn-close float-right">X</button> 
                    </div>


                
                </div>

                
            </td>
        </tr>

        <tr *ngIf="empty===true">
            <td class="font-weight-bold">
                Agrega un producto a tu wishlist!
            </td> 
        </tr>

    </tbody> 
</table>