<form [formGroup] = "editprofileForm">
        <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
        <div class="col-lg-12">
            <input class = "form-control" type="text" placeholder="Nombre" formControlName="name" />
        </div>
        <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
        <div class="col-lg-12">
            <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName" />
        </div>

        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-12">
            <input class="form-control" type="email" placeholder="email@ejemplo.com" formControlName="email" />
        </div>

        <label class="col-lg-3 col-form-label form-control-label" >Ocupacion</label>
        <div class="col-lg-12">
            <input class="form-control" type="text" placeholder="Ocupación" formControlName="job"/>
        </div>

        <label class="col-lg-3 col-form-label form-control-label">Username</label>
        <div class="col-lg-12">
            <input class="form-control" type="text" placeholder="Username" formControlName="username"/>
        </div>

        <form formGroupName = "pass">
            <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
            <div class="col-lg-12">
                <input class="form-control" type="text" placeholder="Password" formControlName="password"/>
            </div>

            <label class="col-lg-12 col-form-label form-control-label">Confirmar Contraseña</label>
            <div class="col-lg-12">
                <input class="form-control" type="text" placeholder="Confirm Password" formControlName="ConfirmPass"/>
            </div>
        </form>    

</form>
<div class="align-center mr-3 mt-3 col-lg-9 ml-auto">
    <button type="submit"  class="mr-1 btn btn-primary" (click)="onSave()">Save Changes</button> 
    <button type="submit"  class="mx-auto btn btn-primary"  (click)="onCancel()">Cancel</button>
    
    <!--falta agregar los snackbar a los buttons-->
</div>
