


.title{
    font-size: $title-font-size;
    font-style: $title-font-style;
    text-align: $title-text-align;
    margin: $title-margin;
}

.price{
    font-size: $price-font-size;
    font-style: $price-font-style;
    text-align: $price-text-align;
    margin: auto;
}

.btn-primary{
    border-radius: $btn-border-radius;
    color: $btn-text-color; 
    padding: $btn-padding; 
    font-size: $btn-font-size; 
    cursor: pointer; 
}

div.polaroid {
    display: block;
    margin: auto;
    width: $polaroid-width;
    background-color: $polaroid-background-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: $polaroid-margin-bottom;
}

div.container{
    text-align: center;
    padding: $polaroid-container-padding;
}

.polaroidImage{
    width: $polaroid-image-width;
}

.tableTitle{
    text-align: $table-subheader-text-align;
    font-style: $table-subheader-font-style;
    font-size: $table-subheader-font-size;
    background-color:$table-subheader-background-color;
}

.tableCell{
    background-color:$table-cell-background-color;
}

th, td, tr {
    color: $table-text-color;
    border: $table-border;
}

th{
    background-color:$table-header-background-color;
    
}

.inputTable{
    background-color:$table-cell-background-color;
    border: solid $table-cell-background-color 1px;
    width: 100%;
}
