 
 // -----------------variable -----------------
 /*******************************************************/
 //globales
  /*******************************************************/
$default-margins: auto;
$text-center: center;  
$text-right: right; 
$text-left: left;
$color-black:  rgb(0, 0, 0);
$color-white: #f1f1f1;
$default-word-break:break-word;
$hide_overflow:hidden;
$default-scroll:smooth;
$def-text-decoration:none;
$default-display:block;
 /*******************************************************/ 
//para editar y perfiles
 /*******************************************************/
 $circle: 50%;
 $widthp: 200px;
 $max: 100%;
 $default-img: url(../images/blank-profile-picture.png);
 $button-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 $nav-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 /*******************************************************/
 // para ahorros
 /*******************************************************/


  /*******************************************************/
 //para productos
 /*******************************************************/

 //Cards with the products
$card-width: 80%;
$card-height: 180px;
$card-font: arial;
$card-margin:auto;
$card-padding:5px;
$card-text-align:left;
$card-text-margin: 7px;

//hr between each card product
$hr-width:80%;

//Product images for each card
$product-image-height: 170px;
$product-image-width: 180px;
$product-image-padding: 5px;
$product-image-margin: 5px;

//Image of the five stars
$rating-image-width: 75px;
$rating-image-height: 75px;

//Price for each card product
$price-color:grey;
$price-size: 24px;

//Media variables for mobile screens
$media-max-width:576px;
$media-card-width:80%;
$media-card-heigth:350px;
$media-product-image-display: block;
$media-product-image-margin-left: auto;
$media-product-image-margin-right: auto;

 /*******************************************************/
 // index
 /******************************************************/
 $title-h1-sizing: 4vh;
 $title-h4-sizing:2vh; //crear funciones para landscape
 $def-h-index-increase:3vh;
  /*******************************************************/
//index carousel
 /*******************************************************/
$carousel-max-size-h:100vh;
$carousel-max-size-w:100vh;
$def-img-sub-size:10vh;


 $rotation-ribbon:-45deg;
 $promotion-color:red;
 $promotion-color-visited:red;
 $default-list-style:none;
  /*******************************************************/
 //ribbon
  /*******************************************************/
 $shadow-ribbon: #888;
 $titles-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 $def-white-space: nowrap;
 $def-position:absolute;
 $ribbon-left:-50px;
 $ribbon-top:40px;
 $ribbon-opacity:0.75;
 $ribbon-border: 1px solid #faa;
 $ribbon-letter-color: green;
 $def-webkit-box: 0 0 10px;
 $ribbon-font:bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
 $ribbon-margin:1px 0;
 $ribbon-padding: 10px 50px;
 $ribbon-shadow: 0 0 5px;
  /*******************************************************/
 //index media orientation:
  /*******************************************************/
  
 $default-media-orientation:landscape;
 
 
 /******************************************************/
 //para la navbar
 /******************************************************/

 //navbar button color (menu)
 $navbar-light-active-color:white; //donde van?
 $navbar-light-color:white; //donde van?
 $navbar-light-disabled-color:white; //donde van?
 $button-radius : 10px;
 $navbar-font:'Times New Roman', Times, serif;;
$trigger-button-color:white;
$nav-bk-color-def:rgb(47, 76, 143);
$navbar-dark-custom-color:black;
$def-body-height:100vh;
$def-gradient-dir: to buttom right;
$def-gradient-first-color:rgb(14, 96, 117);
$def-gradient-second-color:rgb(189, 9, 174);
$def-log-trigger-padding:15px 30px;
$def-button-login-radius:30px;
$def-button-pos:relative;
$trigger-btn-top:50%;
$def-login-weight:bold;