@import "variables";

body{
    margin:auto;
    word-break: break-word;
    overflow-x: hidden;

}
h1{
    font-size: 4vh;
    font-family: $titles-font;
}
h4{
  font-size: 2vh;
}
.imgCarousel{
  max-height: 100vh;
  max-width: 100vh;
  margin:auto;
}
html {
    scroll-behavior: smooth;
  }
.promotion{
    text-decoration: none;
    color:red;
    list-style-type: none;
}
.promotion:visited, .promotion:target{
    text-decoration: none;
    color:red;
    list-style-type: none;
}
.ribbon {
    background-color:red;
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -50px;
    top: 40px;
    opacity: 0.75;
    /* for 45 deg rotation */
    -webkit-transform: rotate($rotation-ribbon);
       -moz-transform: rotate($rotation-ribbon);
        -ms-transform: rotate($rotation-ribbon);
         -o-transform: rotate($rotation-ribbon);
            transform: rotate($rotation-ribbon);
    /* for creating shadow */
    -webkit-box-shadow: 0 0 10px $shadow-ribbon;
       -moz-box-shadow: 0 0 10px $shadow-ribbon;
            box-shadow: 0 0 10px $shadow-ribbon;

  }
  .ribbon a {
    border: 1px solid #faa;
    color: green;
    display: block;
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* for creating shadow */
    text-shadow: 0 0 5px $shadow-ribbon;
  }
 

  @media (orientation:landscape)
  {
    h1{
      font-size: 7vh;
  }
  h4{
    font-size: 5vh;
  }
  .imgCarousel{
    max-height: 90vh;
    max-width: 90vh;
    margin:auto;
  }
  
  }