.navbar-custom{
    @include hover-focus();
    background-color: $nav-bk-color-def;
}
.navbar-custom-button a li ul i {
  color:$navbar-light-active-color;
  background-color:$navbar-light-active-color ;
}
.navbar-custom-button:hover{
    @include hover-focus();
    background-color: $navbar-light-color;
    color:$navbar-dark-custom-color;
    border-radius: $button-radius;
}


body{
    height: 100vh;
    text-align: $text-center;
    font-family: $navbar-font;
  }
    /*Trigger Button*/
  .login-trigger {
    font-weight: $def-login-weight;
    color: $trigger-button-color;
    background: linear-gradient($def-gradient-dir,$def-gradient-first-color,$def-gradient-second-color);
    padding: $def-log-trigger-padding;
    border-radius: $def-button-login-radius;
    position: $def-button-pos; 
    top: $trigger-btn-top;
  }
  
  /*Modal*/
  h4 {
    font-weight: $def-login-weight;
    color: $navbar-light-color;
  }
  .close {
    color: $navbar-light-color;
    transform: scale(1.2)
  }
  .modal-content {
    font-weight: $def-login-weight;
    background: linear-gradient(to bottom right,rgb(50, 14, 117),rgb(189, 9, 174));
  }
  .form-control {
    margin: $nav-form-control-margin;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: $def-login-box-shadows;  
    border-color: $navbar-light-color;
  }

  .login {
    padding: $def-login-padding;
    border-radius: $def-login-border-radius-modal;
    background: $def-modal-background;
    border: $def-login-border-modal;
    color: $def-login-color;
    font-weight: $def-login-weight;
    transition: $def-login-transition;
    margin-top: $def-login-margintop;
  }
  .signup {
    padding: $def-signup-padding;
    border-radius: $def-signup-border-radius;
    background: $def-modal-background;
    border: $def-signup-border;
    color: $def-signup-color;
    font-weight: $def-signup-weight;
    transition:$def-signup-transition;
    margin-top: $def-signup-margintop;
  }
  .login:hover {
    background: $def-login-color;
    color: $trigger-button-color;
  }
  .header_text{
    animation-name:$header_text_anim_name;
    animation-duration: $default-text-anim-duration;
    animation-iteration-count: $default-text-anim-iteration;
    animation-direction: $default-text-anim-direction;
    text-align: $text-center;
    justify-content: $text-center;
    align-items: $text-center;
    
  }
  .header_img{
    max-width: $header_img_max_width;
    max-height: $header_img_max_height;
    width:$header_img_width;
    height:$header_img_height;
    margin:$default-margins;
  }
  @function set_def_landscape_textanim_fontsize($size, $def-increase)
  {
    @return $size + $def-increase;
  }
  @keyframes #{$header_text_anim_name} {
    from {color: $header_text_anim_color_from;
          font-size: $header_text_anim_fontsize_from;}
    to {color:$header_text_anim_color_to;
        font-size: $header_text_anim_fontsize_to;}
  }
  @media (orientation:landscape)
  {
    @keyframes header_colors {
      from {color: $header_text_anim_color_from;
            font-size:set_def_landscape_textanim_fontsize($header_text_anim_fontsize_from, $header_text_anim_font_landscape_increase) ;}
      to {color:$header_text_anim_color_to;
            font-size:set_def_landscape_textanim_fontsize($header_text_anim_fontsize_to, $header_text_anim_font_landscape_increase);}
    }
  }