.navbar-custom{
    @include hover-focus();
    background-color: rgb(47, 76, 143);
}
.navbar-custom-button a li ul i {
  color:white;
  background-color: red($color: #000000);
}
.navbar-custom-button:hover{
    @include hover-focus();
    background-color: white;
    color:black;
    border-radius: $button-radius;
}


body{
    height: 100vh;
    text-align: $text-center;
    font-family: $navbar-font;
  }
    /*Trigger Button*/
  .login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right,rgb(14, 96, 117),rgb(189, 9, 174));
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%;
  }
  
  /*Modal*/
  h4 {
    font-weight: bold;
    color: #fff;
  }
  .close {
    color: #fff;
    transform: scale(1.2)
  }
  .modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right,rgb(50, 14, 117),rgb(189, 9, 174));
  }
  .form-control {
    margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
  }

  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .signup {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .login:hover {
    background: #FAB87F;
    color: #fff;
  }
  .header_text{
    animation-name:header_colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  .header_img{
    max-width: 300px;
    max-height: 300px;
    width:50%;
    height:50%;
    margin:auto;
  }
  
  @keyframes header_colors {
    from {color: rgb(15, 160, 60);
          font-size: 3vh;}
    to {color:rgb(160, 15, 115);
        font-size: 3.9vh;}
  }
  @media (orientation:landscape)
  {
    @keyframes header_colors {
      from {color: rgb(15, 160, 60);
            font-size: 4vh;}
      to {color:rgb(160, 15, 115);
          font-size: 6vh;}
    }
  }