
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 180px;
    margin: auto;
    text-align: left;
    font-family: arial;
    overflow: hidden;

    img{
        height: 20px;
        width: 30px;
    }
}

.left{
    float: left;
}

.price {
    color: grey;
    font-size: 22px;
    
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}