  body{
    height: 100%;
    text-align: $text-center;
  }
  h6 {
    font-weight: bold;
    color: $color-black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .profilePic {
    border-radius: $circle;
    width:  $widthp;
    height: $widthp;
   
    border: 1px solid $color-white ;
  }

  .picUser{
    background-image: $default-img;
    border-radius: $circle;
    width:  $widthp;
    height: $widthp;
    border: 1px solid $color-white;
    background-size: $max $max;

  }


.start{
  float: $text-left;
  text-align: $text-left;
}
.end {
  float:$text-right; 
  text-align: $text-right;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  
}

/* permite que cambien las caras*/
.flip-card-inner {
  position: relative;
  width: $max;
  height: $max;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* la animacion de giro*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* establece la posicion de la parte de adelane y atras */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: $max;
  height: $max;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* estilo del frente*/
.flip-card-front {
  background-image: $default-img;
  background-size: $max $max;
  background-color: gray;
  color: $color-black;
  
}
.flip-card-front img{
  height: $max;
  width: $max;
}
/* estilo de la parte trasera */
.flip-card-back {
  background-color: dodgerblue;
  color: $color-white;
  transform: rotateY(180deg);
}


.buscar2 {
  background-color: #4abe64;
  padding: 40px 40px;
  color: $color-white;
  text-align: $text-center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 5px;
  font-family: monospace;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 81%;
}

.estilo-link{
  font-style: normal;
  font-family: $nav-font;
}