 // -----------------variable -----------------
 //para editar y perfiles
 $text-center: center;  
 $text-right: right; 
 $text-left: left;
 $color-black:  rgb(0, 0, 0);
 $color-white: #f1f1f1;
 $circle: 50%;
 $widthp: 200px;
 $max: 100%;
 $default-img: url(../images/blank-profile-picture.png);
 $button-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 $nav-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 // para ahorros
 
 //para productos

 //para el indec