
<div class="card">
    <div class="row">
        <div class="colProductImage">
            <img class="productImage" src="{{curr_prod.foto}}" alt="">
        </div>
        <div class="colProductInfo">
            <div class="card-block paddingClass">
                <h3>{{curr_prod.titulo}}</h3>
                <img class="ratingImage" src="../../assets/images/rating.png" alt="rating">
                <p class="price">${{curr_prod.precio}}</p>
                <button class="btn btn-primary" mat-button (click)="snackbarWishlist('Producto agregado exitosamente!', 'Deshacer')" i18n>
                    Agregar a wishlist
                </button>
            </div>
        </div>
    </div>
</div>