
<div class="card">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-5 col-xs-0.1">
            <img class="productImage" src="{{curr_prod.foto}}" alt="">
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7 col-xs-11">
            <div class="card-block px-2">
              <h3>{{curr_prod.titulo}}</h3>
              <img class="ratingImage" src="../../assets/images/rating.png" alt="rating">
              <p class="price">$400</p>
              <a href="#" class="btn btn-primary" onclick="showSnackbar()">Agregar a wishlist</a>
            </div>
        </div>
    </div>
</div>