@import "~src/styles/styles.scss";


body{
    height: 100%;
    text-align: $text-center;
  }
  @mixin set-font-fam($fam) {
    font-family: $fam;
  }
  h6 {
    font-weight: bold;
    color: $color-black;
    @include set-font-fam($title-h6-fam);
  }

  @mixin set-border-color($white){
    border: 1px solid $white;
  }

  .profilePic {
    border-radius: $circle;
    width:  $widthp;
    height: $widthp;  
    @include set-border-color($color-white);
  }
  .picUser{
    background-image: $default-img;
    border-radius: $circle;
    width:  $widthp;
    height: $widthp;
    @include set-border-color($color-white);
    background-size: $max $max;

  }
  .button {
    border-radius: 4px;
    background-color: DodgerBlue;
    border: none;
    color: $color-white ;
    text-align: $text-center;
    font-family: $button-font; 
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
   
  // hace que se recorran las letras
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 12px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: $color-white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    font-family: $button-font;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:  #2666dd;
    color: $color-white;
  }
.estilo-link{
  font-style: normal;
  font-family: $nav-font;
}



@mixin set-text-color($text-color){
  color: $text-color;
}

@mixin set-background-color($background-color){
  background-color: $background-color;
}


/* The snackbar*/
#snackbar {
    @include set-text-color($snackbar-text-color);
    @include set-background-color($snackbar-background-color);

    visibility: hidden; 
    min-width: $snackbar-min-width; 
    margin-left: $snackbar-margin-left;
    text-align: $snackbar-text-align;
    border-radius: $snackbar-border-radius;
    padding: $snackbar-padding; 
    position: fixed; 
    z-index: $snackbar-z-index;
    left: $snackbar-left; 
    bottom: $snackbar-bottom; 
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }