<div class="container">
    <div class="row my-2">
        <div class="col-sm-12 col-lg-4 col-md-4 order-lg-1 order-md-2 text-center">

            <app-profile-pic></app-profile-pic>

            <h6 class="mt-3">User</h6>

        </div>

        <div class="col-sm-12 col-lg-8 col-md-8 order-md-2 order-lg-2">

            <app-profile-tabs></app-profile-tabs>

            <div class="tab-content py-4">
                <div class="tab-pane active" id="savings">
                    
                    <div class="container">

                        <p class="title">Objetivo</p>

                        <!--Primera fila-->
                        <div class="row">

                            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                
                                <app-ahorros-obj></app-ahorros-obj>
                                <app-ahorros-savings></app-ahorros-savings>
                                <br>
                                <br>
                                <app-ahorros-doughnutchart></app-ahorros-doughnutchart>
                            </div>
                                   
                        </div>

                        <br>
                        <br>

                        <app-ahorros-presupuesto></app-ahorros-presupuesto>
                        

                    </div>


                </div>

            </div>
        </div>
    </div>
</div> 
