<div class="panel-body">
    <table id="example" style = "text-align:center;" class="justify-content-center table table-striped dt-responsive table table-hover table-light" style="width:100%">
        <thead>
            <tr>
                <th scope="col" i18n>Perfil</th>
                <th scope="col" i18n>Saldo </th>
                <th scope="col" i18n>Limite Gasto </th>
                <th scope="col" i18n># Productos comprados</th>
                <th scope="col"><i class="fa fa-pencil" aria-hidden="true"></i>
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of Members | paginate: config" style = "text-align: center;">
                <td>
                    <app-flip-card [memb]=member></app-flip-card>
                 </td>
                  <td>$ {{member.saldo}}</td>
                  <td>
                      <form [formGroup] = "salario">
                        <input type="text" formControlName = "max" placeholder = "$ {{member.limite_gastos}}">
                        
                        </form>
                    </td>
                  <td>{{member.productos}}</td>
                  <td>
                      <button (click)="SaveLimitChanges(member.Authid)" class = "btn-success btn-rounded" data-toggle="control-sidebar"><i class="fa fa-floppy-o"></i></button>
                      <button (click)="RemoveMember(member.Authid)" class = "btn-danger btn-rounded" data-toggle="control-sidebar"><i class="fa fa-trash"></i></button>
                  </td>                                                 
            </tr>
            
        </tbody>
    </table>
    
    <pagination-controls id="member_pag" (pageChange)="pageChanged($event)"></pagination-controls>
</div>