
<form>
<input type="text"><br>
<div class="botton-change mt-3">
    <a href="#" class="btn btn-primary" onclick="showSnackbar()">Añadir ahorros</a>
</div>
</form>

<br>
<br>

<div class="progress">
<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="start">Start: $0</div>
<div class="end">End: $5,000</div>